<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!--HEADER-->
    <header class="header">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="../static/img/LOGO.png" alt="Logo" width="100%" height="100"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/dna" style="color: #284288;">Cell type
                                predictor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: #284288;">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" style="color: #284288;">Contact us</a>
                        </li>
                        <li class="nav-item">
                            {% if session.user_id %}
                            <a class="nav-link" href="/logout" style="color: #284288;">Log Out</a>
                            {% else %}
                            <a class="nav-link" href="/login" style="color: #284288;">Log In</a>
                            {% endif %}
                        </li>
                    </ul>
                    {% if session.user_id %}
                    <ul>
                        <a href="#" role="button">
                            <img src="../static/img/user.png" class="user-avatar-sm">
                        </a>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <div class="main">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <img src="../static/img/DNA-bro.png" class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <form>
                            <div>
                                <h1 style="color: #284288">ScATAC-Seq FAQs</h1>
                            </div>
                            <br>
                            <h4 style="color: #284288">Description</h4>
                            <div class="form-outline mb-4">
                                <div class="text-left">
                                    <p>
                                    <h5>ChromoPred
                                        which is a CNN-based approach for modeling scATAC-seq data that leverages the
                                        DNA sequence information underlying accessibility peaks to generate single-cell
                                        chromatin accessibility landscapes across different cell types, and distinguish
                                        every peak by its cell types</h5>
                                    </p>
                                    <p>
                                    <h5>These are the cell types the user can predict in human :</h5>
                                    <h5>1- LMPP stands for "lymphoid-primed multipotent progenitors" <br><br>
                                        2- MPP stands for "multipotent progenitor cell" <br><br>
                                        3- CLP stands for "common lymphoid progenitor"<br><br>
                                        4- MEP stands for "megakaryocyte-erythroid progenitor" <br><br>
                                        5- GMP-A stands for “Granulocyte-Monocyte Progenitor – A”<br><br>
                                        6- pDC stands for "plasmacytoid dendritic cell"<br><br>
                                        7- HSC stands for "hematopoietic stem cell"<br><br>
                                        8- CMP stands for "common myeloid progenitor" <br><br>
                                        9- UNK stands for “natural killer cell”<br><br>
                                        In the future may other organisms cell types prediction added in the following
                                        updates
                                    </h5>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <!--<h4 style="color: #284288">These are the cell types the user can predict in human :</h4>
                            <div class="form-outline mb-4">
                                <div class="text-left">
                                    <p>
                                    <h5>1- LMPP stands for "lymphoid-primed multipotent progenitors" <br>
                                        2- MPP stands for "multipotent progenitor cell" <br>
                                        3- CLP stands for "common lymphoid progenitor"<br>
                                        4- MEP stands for "megakaryocyte-erythroid progenitor" <br>
                                        5- GMP-A stands for “Granulocyte-Monocyte Progenitor – A”<br>
                                        6- pDC stands for "plasmacytoid dendritic cell"<br>
                                        7- HSC stands for "hematopoietic stem cell"<br>
                                        8- CMP stands for "common myeloid progenitor" <br>
                                        9- UNK stands for “natural killer cell”<br><br>
                                        In the future may other organisms cell types prediction added in the following
                                        updates
                                    </h5>
                                    </p>
                                </div>
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
<br><br><br><br><br>
    <!--footer-->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="text-center text-white" style="background-color: 
    #f8f9fa;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4" id="contact">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button" style="color: #284288;"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center  p-3" style="background-color: #cdd5e9; color: #284288;">
            © 2023 Copyright:
            <a href="#" style="color: #284288;">ChromoPred</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- End of .footer -->

    <script defer src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>